@media screen and (max-width: 576px) {
  .nav_container {
    max-width: 100vw;
  }
  .get_container {
    flex-direction: column;
    margin-top: 30px;
  }
  .get_left {
    width: 80%;
  }
  .get_right {
    width: 80%;
  }
  .tutorial_container {
    left: -80px;
  }
  .habit_container {
    margin: 0 auto;
  }
  .habit_content {
    flex-direction: column;
    align-items: center;
  }
  .flex {
    width: 80%;
    margin: 20px auto;
  }
  .run_container {
  }
  .run_content {
    width: 550px;
    height: 300px;
    margin: 0 auto;
    padding: 10px;
  }
  .run_img > img {
    width: 225px;
    height: 230px;
    border-radius: 18px;

    object-fit: none;
    object-position: 66% 28%;
  }
  .bmi_content {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .bmi_left {
    width: 75%;
  }
  .bmi_right {
    width: 100%;
  }
  input,
  select,
  option {
    width: 90%;
    height: 90%;
    font-size: 10px;
  }
  table {
    width: 90%;
    height: 90%;
    /* font-size: 10px; */
  }
  .trainer_container {
    width: 80%;
    grid-template-columns: 1fr;
  }
  .trainer_pic > img {
    width: 100%;
  }
  .trainer_heading {
    top: 150px;
  }
  .start_content {
    flex-direction: column;
  }
  .start_one {
    width: 100%;
    margin-bottom: 40px;
  }
  .start_two {
    width: 100%;
    margin-bottom: 40px;
  }
  .start_three {
    width: 100%;
    margin-bottom: 40px;
  }
}
